@import url(https://fonts.googleapis.com/css?family=Roboto:100);

@font-face {
    font-family: 'Calculator';
    src: url('../fonts/Calculator.ttf');
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #7f909b;
}

header {
    width: 100%;
}

header h1 {
    font-size: 64px;
    font-family: 'Calculator','monospace';
    text-align: center;
    text-transform: uppercase;
    color: white;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 340px;
    box-shadow: 0 0 75px 30px rgba(216, 216, 216, 0.9);
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif;
}

.screen {
    background-color: transparent;
    cursor: default;
    width: 94%;
    border: none;
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 4em;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.button-zone {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.4);
    mix-blend-mode: overlay;
    button {
        flex: 0 1 25%;
        height: 70px;
        color: #111;
        font-size: 2em;
        mix-blend-mode: overlay;
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.4);
        cursor: pointer;
        transition: 0.3s;
        &.btn--large {
            flex: 0 1 50%;
        }
        &.btn--opaque {
            background: rgba(255, 255, 255, 0.2);
        }
    }

}

.button-zone button.active {
    background: rgba(255, 255, 255, 0.6);
    font-size: 2.7em;
    &.btn--opaque {
        background: rgba(85, 85, 85, 0.2);
        color: white;
        font-size: 2.3em;
    }
}
